body {
  background: rgb(133, 214, 146);
  font: normal 15pt Arial;
}

header {
  color: white;
  text-align: center;
}

section {
  background: white;
  border-radius: 10px;
  padding: 15px;
  width: 90%;
  margin: auto;
  text-align: center;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.404); /*3px deslocamento lateral 3px deslocamento vertical 10px espalhamento black cor*/
}

select {
  margin-top: 15px;
  width: 100%;
  border-radius: 8px;
  padding: 5px;
}

input[type="button"]:hover {
  background: rgb(90, 180, 105);  /* escurece ao passar o mouse */
}

footer {
  color: white;
  text-align: center;
  font-style: italic;
}